<h1 mat-dialog-title>{{ mechanic.id ? 'Edit Mechanic' : 'New Mechanic' }}</h1>

<div mat-dialog-content class="form">
  <mat-form-field>
    <label>Nombre</label>
    <input matInput [(ngModel)]="mechanic.firstName" required>
  </mat-form-field>

  <mat-form-field>
    <label>Apellido</label>
    <input matInput [(ngModel)]="mechanic.lastName" required>
  </mat-form-field>

  <mat-form-field>
    <label>DNI</label>
    <input matInput [(ngModel)]="mechanic.dni" required>
  </mat-form-field>

  <mat-form-field>
    <label>Correo</label>
    <input matInput [(ngModel)]="mechanic.email" required>
  </mat-form-field>

  <mat-form-field>
    <label>Contraseña</label>
    <input matInput [(ngModel)]="mechanic.password" type="password" required>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>{{ mechanic.id ? 'Actualizar' : 'Crear' }}</button>
</div>
