/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/cyan-orange.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mat-drawer-content{
  background-image:url("/assets/images/fondo.png");
}
html {
  font-size: 62.5%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
